# requirements.txt

DateTime==5.5
flatbuffers==24.3.25
libclang==18.1.1
namex==0.0.8
numpy==1.21.6
optree==0.11.0
packaging==24.1
protobuf==4.25.3
Pygments==2.18.0
pytz==2024.1
setuptools==70.0.0
six==1.16.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
typing_extensions==4.12.2
urllib3==2.2.1
wheel==0.43.0
wrapt==1.16.0
zope.interface==6.4.post2